Source: dev-tools
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
	       perl (>= 5.10.1)
Standards-Version: 3.8.4
Vcs-Git: git://github.com/laas/dev-tools.git
Vcs-browser: http://github.com/laas/dev-tools
Section: devel
Homepage: http://github.com/laas/dev-tools

Package: dev-tools
Architecture: any
Depends: perl (>= 5.10.1), ${shlibs:Depends}, ${misc:Depends}
Description: Useful tools for development at LAAS and JRL
 The dev-tools package provides useful tools such as package-create
 and package-dep.
 .
 package-create eases the creation of new package by filling
 automagically a template project for either the Autotools or CMake.
 .
 package-dep generates a dot graph from pkg-config dependencies
 information.
